html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f7f7f7;
  }
  
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
    height: 140px;
    padding-right: 50px;
  }
  
  @media screen and (max-width: 740px) {
      .nav-links {
        display: none;
      }
  }
  
  @media screen and not (max-width: 740px) {
    .dropdown {
      display: none;
    }
  }
  
  .topnav a {
    color: #3c3c3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin: 20px;
  }
  
  .nav-links {
    margin-left: auto;
  }
  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
    
    /* Add a color to the active/current link */
  .topnav a.active {
    /* background: linear-gradient(to right, rgb(103, 143, 105), #375940); */
    background-color: rgb(76,113,112);
    color: white;
    border-radius: 10px;
  }
  
  .logo {
    width: 120px; /* Adjust this value as needed */
    height:120px; /* Adjust this value as needed */
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 50px;
    transform: scale(1); /* Increase the size of the image */
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .dropdown button {
    width: 100px;
    color: #3c3c3c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border-color: rgb(208, 208, 208);
  }
  
  .dropdown-content {
    display: none;
    justify-content: right;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    margin-top: 0px;
    padding-top: 0px;
    height: 750px;
  }
  
  @media  screen and (max-width: 740px) {
    .content {
      grid-template-columns: 90vw 1fr;
      grid-template-rows: 1fr auto;
    }
    .left {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .right {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
    
  .left {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: 50px;
    position: relative;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-right: 0px;
  }
  
  .right img {
    width: 750px;
    height: auto;
    object-fit: cover;
    margin-right: 0px;
  }
  
  .uk-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #2d2e33;
    font-size: 40px, 40px, 20px;
  }
  
  .find-us {
    top: 30%;
    left: 70px;
  }
  
  .find-us button {
    background-color: rgb(76,113,112);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .description {
    margin-top: 10px;
  }
  
  .hidden {
    display: none;
  }
  
  /* Ikke i bruk */
    
  .book-appointment {
    position: absolute;
    top: 40%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #4769da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .main-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
    -webkit-filter: brightness(40%);
    filter:brightness(40%);
  }